:root {
  --t-bg: #0c0c08;
  --t-fg: #ebdbb2;
  --t-prompt-user: #83a598;
  --t-prompt-path: #b8bb26;
  --t-prompt-symbol: #d3869b;
  --t-accent1: #83a598;
  --t-accent2: #b8bb26;
  --t-accent3: #fabd2f;
  --t-accent4: #d3869b;
  --t-accent5: #fb4934;
  --t-dimmed: #928374;
  --t-border: #1a1810;
  --t-title-bar-bg: #070604;
  --t-title-bar-fg: #928374;
  --t-tab-bg: #0a0906;
  --t-tab-active-bg: #1a1810;
  --t-tab-active-fg: #ebdbb2;
  --t-selection-bg: #504945;
  --t-scrollbar-thumb: #1a1810;
}
